:root {
    --primary-colour: #CAC2C0
    --secondary-colour: #60483A; 
    --primary-text-colour: 
    --secondary-text-colour: 
    --main-text-size: 18px;
    --border-radius: 10px;
} 


 .navList{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* flex-direction: column-reverse; */
    width: 295px;
    height: 55px;
    font-family: 'Graduate';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    /* line-height: 55px; */
    list-style-type: none
    /* identical to box height */
 }

 .lists:first-child {
    align-items: center;
 }
     



.logo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: monospace;
    color: black;
}


